
header {
  height:10vh;
    background-size: cover;
    background-position: center;
}

ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    padding: 5px 30px;
    border:1px solid transparent;
    transition: 0.6s ease;
}

ul li a:hover{
    background-color: #fff;
    color: #000;
}

ul li.active a{
    background-color: #fff;
    color: #000;
}


.main{
    max-width: 1500px;
    width: auto;
}

body {
    background: -webkit-linear-gradient(to right, #556270, #4ECDC4);  
    background: linear-gradient(to right, #556270, #4ECDC4); 

  font-family: Arial, Helvetica, sans-serif;
}
